<a href="/users/add" class="btn btn-primary">ADD</a> <a href="/users/display" class="btn btn-primary">DISPLAY</a><a href="/users/logout" class="btn btn-primary" style="margin-left: 150px;">Logout</a>
